.layout > header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--card-bg);
}

.top-nav {

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 1rem;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}

article {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    .content {
        margin: 1rem 0;
    }
}

h1 a {
    display: flex;
    align-items: center;
    gap: 1rem;

    picture {
        display: flex;;
    }
}

.logo {
    height: 3.5rem;
    width: 3.5rem;
}

.pr-icon {
    font-size: 32px;
}