@scope (.badge) {
    background-color: cornflowerblue;

    &.red {
        background-color: hsl(from var(--red) h calc(s / 4) calc(l / 1.5));
        color: hsl(from var(--red) h s calc(l *  1.5));
    }

    &.green {
        background-color: hsl(from var(--green) h calc(s / 4) calc(l / 1.5));
        color: hsl(from var(--green) h s calc(l * 1.5));
    }

    &.amber {
        background-color: hsl(from var(--amber) h calc(s / 4) calc(l / 1.5));
        color: hsl(from var(--amber) h s calc(l * 1.5));
    }
}