.repo-selector {
    display: flex;

    .sidebar {
        flex: 200px 0 1;
        width: auto;
        min-width: auto;
        overflow: visible;

        .nav {
            flex: 200px 0 1;
            flex-direction: column;
            min-width: auto;
            width: auto;
        }
    }
}