@scope (.pull-request-table) {
    width: 100%;

    th, td {
        padding: 0.5rem;
        text-align: left;
        border-bottom: 1px solid var(--bs-border-color);
    }

    th:first-child,
    td:first-child {
        width: 2rem;
        text-align: center;
    }

    a {
        color: var(--primary);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
