/*@scope(.tabs) {

    display: flex;
    flex-direction: column;

    ul.nav-tabs {
        flex-direction: row;

        li {
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            cursor: pointer;
            border: 1px solid var(--border-color);
            border-bottom: none;
            background-color: var(--tab-background-color);
        }

        li.active {

            border-bottom: 2px solid var(--primary);
        }

        li img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}*/
